.card-container {
    text-align: left;
    background-color: rgba(255,255,255,0.12);
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 12px rgba(47,47,47,0.82);
}

.card-inner {
    padding: 20px;
}

.roadmap {
    background-color: #52bede;
}

.roadmap-wrapper {
    padding: 40px;
    height: 100%;
}

.roadmap-inv {
    background-color: #d47dba;
    position: relative;
    right: 0;
    top: 50px;
    z-index: 2;
    text-align: left;
    height: 100%;
    width: 50%;
    box-shadow: -8px 0px 10px rgba(0,0,0,0.52);
  }

.roadmap-inv h3 {
    margin: 14px 0px;
}

.roadmap-icon {
    margin-right: 12px;
    color: #fff600 !important;
}

.roadmap-dot {
    border-radius: 50% !important;
    width: 18px !important;
    display: flex !important;
    justify-content: center !important;
    border-color: wheat !important;
    background-color: transparent !important;
    font-weight: bold !important;
    margin: 18px 0px !important;
    font-size: medium !important;
    letter-spacing: normal;
    line-height: normal;
}

.roadmap-seperator::before {
    content: none !important;
}

.roadmap-container {
    background: radial-gradient(closest-side,rgba(255,255,255,0.16), black);
    padding: 26px;
}

.roadmap-desc {
    color: rgba(255,255,255,0.82);
}

.roadmap-connector {
    background-color: wheat !important;
}

.card-header {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(245,222,179,0.12);
    justify-content: center;
    align-items: center;
}

.roadmap-inner {
    display: flex;
    align-items: center;
}

.road-padding-right {
    padding-right: 75px;
}

.road-padding-left {
    padding-left: 75px;
}

.roadmap-img {
    width: 50%;
    position: relative;
    top: 150px;
}

/* @media screen and (min-width: 1440px) {
    .roadmap-img {
        transform: translate(-50%, -105%);
    }
}

@media screen and (min-width: 1275px) and (max-width: 1440px) {
    .roadmap-img {
        transform: translate(-50%, -110%);
    }
}

@media screen and (min-width: 1040px) and (max-width: 1275px) {
    .roadmap-img {
        transform: translate(-50%, -120%);
    }
}

@media screen and (min-width: 960px) and (max-width: 1040px) {
    .roadmap-img {
        transform: translate(-50%, -125%);
    }
} */

@media screen and (min-width: 800px) and (max-width: 925px) {
    .roadmap-inner {
        align-items: unset;
        flex-direction: column;
    }

    .roadmap-img {
        top: unset;
        bottom: 64px;
    }

    .roadmap-inv {
        right: unset;
        top: unset;
        bottom: 120px;
        left: 10%;
        width: 64vw;
      }
}

@media screen and (max-width: 800px) {
    .roadmap-inner {
        align-items: unset;
        flex-direction: column;
    }

    .roadmap-img {
        top: unset;
        bottom: 64px;
    }

    .roadmap-inv {
        right: unset;
        top: unset;
        bottom: 120px;
        left: 0;
        width: 76vw;
      }
}

@media screen and (min-width: 768px) {
    .roadmap-container {
        padding: 100px;
    }

    .roadmap-desc {
        margin-bottom: 50px;
    }
  }