.circle-medium {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(224, 160, 255,0.4);
    margin-left: auto;
}

.circle-large {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(224, 160, 255,0.4);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-inner {
    width: 215px;
    height: 200px;
}